[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SystemwideIO
Comment=Routes audio from applications through a VST of your choice.
Exec=SystemwideVST
Icon=images/logo.png
Terminal=false